/* 'Roboto Condensed' 'Architects Daughter' 'Source Sans Pro' */
html{
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
hr{
  margin: 0;
  padding: 0;
}
h1{
  font-family: 'Source Sans Pro', sans-serif;
}
h2{
  font-size: 2.8em;
  margin: 2vmin;
  font-family: 'Roboto Condensed';
}
h3{
  font-size: 1.8em;
  margin: 2vmin;
  font-family: 'Roboto Condensed';
}
p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6em;
}
a{
  text-decoration: none;
  color:black;
  outline: none;
}
.wrapper{
  padding: 0;
  height:auto;
  width:100vw;
  font-size: 62.5%;
}
#bgImg{
  height: 100%;
  width:100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  pointer-events: none;
  opacity: .7;
}
#middleText{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
  font-size: 4em;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.5);
  width:100%;
  text-align:center;
}

/*Pages*/

.pagesWrapper{
  background: #f5f5f5;
  padding-top: 90px;
}
#artCategories{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.categoryPic{
  height: 20vh;
  width:370px;
  min-height: 370px;
  border: 1px solid black;
  background: #e7e7e3;
  margin: 10px;
  transition: .3s;
}
.categoryPic img{
  height: 16vh;
  width:100%;
  object-fit: cover;
  object-position: top;
  min-height: 300px;
  border: none;
}
.categoryText{
  height: 4vh;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: .4vh;
  font-size: 1.6em;
  font-family: 'Roboto Condensed';
}

  /*CV*/
#cvText p{
  margin: 3vmin;
  line-height: 25px;
}
#profilePic{
  float: left;
  margin-left: 2vw;
  margin-right: 3vw;
  border: 1px solid black;
  box-shadow: 5px 5px 3px black;
}

/* Contact */
.pageDiv{
  height: calc(100vh - 53px - 70px - 90px)
}
#contactDiv{
  background-image: url("./img/4.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  margin-top: 0;
}
#contactForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}
.contactInput{
  background-color: #f5f5f5;
  resize: none;
  width:50%;
  color: black;
  font-family: 'Roboto Condensed',sans-serif;
  height:6vh;
  font-size: 2em;
  border: 1px solid black;
  box-shadow: 5px 5px 3px black;
  margin-top: 1vh;
  padding-left: 1vw;
}
.contactInputText{
  height: 30vh;
}
#formSubmit{
  margin-top: 2vh;
  color: black;
  font-family: 'Roboto Condensed',sans-serif;
  height:6vh;
  font-size: 2em;
  border: 1px solid black;
  box-shadow: 5px 5px 3px black;
  width:50%;
}
/*Footer*/
footer{
  height: 70px;
  background: white;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer footerLinks{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a{
  font-family: 'Source Sans Pro'
}
footer a:hover{
  text-decoration: underline;
}
footer p{
  font-family: 'Roboto Condensed'
}

/*Navbar*/
.nav{
  width:100%;
  position: absolute;
  top:0%;
  text-align: right;
  height: 70px;
  line-height: 70px;
  font-size: 1.9em;
}
.menu{
  display: flex;
  justify-content: space-around;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.menu a{
  clear:right;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  width:100%;
  display: flex;
  justify-content: center;
}
.menu a:hover{
  background: -moz-linear-gradient(top, rgba(255,255,255,0.55) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.55) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0.55) 0%,rgba(0,0,0,0) 100%);
}
label{
  margin: 20px 50px 0 0;
  font-size: 2.6em;
  line-height: 70px;
  display: none;
  width:26px;
  float: right;
}
#toggle{
  display: none;
}
@media only screen and (max-width:700px){
  label{
    display: block;
    cursor: pointer;
  }
  .menu{
    text-align: center;
    width: 100%;
    display: none;
    background: #e7e7e3;
  }
  .menu a{
    display: block;
    border-bottom: 2px solid black;
  }
  #toggle:checked + .menu{
    display: block;
  }
  #middleText{
    font-size: 2em;
    top:90%;
  }
  .contactInput{
    width:80%;
  }
}
